@font-face {
  font-family: "manrope";
  src: url("../fonts/Manrope-Regular.ttf");
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "manrope";
}
.hidden-div{
    display: none !important;
}


.main-img{
    /*background: url(../img/desktop-home-bg.png);*/
    background-size: cover;
    background-position: left top;

}
.desktop_nav{
    position:fixed;
    z-index:8;
    width:100%;
    top:0px;
    background-color: #fff;
    box-shadow: -6px 3px 15px rgba(0, 0, 0, 0.15);
}
.desktop_nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.desktop_nav li{
    display: inline-block;
    margin-left: 12px;
    color: #0057B7;
    font-size: 14px;
}
.desktop_nav li a{
    color: #0057B7;
    text-decoration: none;
}

.desktop_nav option{
    color: #000000;
}
.desktop_nav{
    display: flex;
    align-items: center;
}
.dropdown-menu li{
    margin:0px;
    width:100%;
}
.mobile_nav{
    display: none;
    position: fixed;
    top:0px;
    right: -250px;
    width:250px;
    background: white;
    padding: 35px;
    padding-top: 15px;
    height: 100vh;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.17);
    transition: all .3s;
    z-index: 9;
}
.mobile_nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.mobile_nav li{
    color: #0057B7;
    font-size: 14px;
    margin-bottom: 5px;
}
.mobile_nav li a{
    color: #0057B7;
    text-decoration: none;
    font-size: 14px;
}
.mobile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 8;
    background-color: #0057B7;
}
.mobile-header a{
    text-decoration:none;
    color:white;
}
.mobile-header a:hover{
    color:white;
}
#hamburger_btn{
    width: 30px;
}
#close_btn{
    font-size: 20px;
}
.close_btn{
    font-size: 20px;
    cursor: pointer;
    margin-right: 45px;
}
.close_btns{
    font-size: 20px;
    cursor: pointer;
    margin-right: 45px;
}
.drop_down{
    cursor: pointer;
    position:relative;
}
.dropdown_content{
    background: white;
    padding: 15px 0px;
    position: absolute;
    transition: all .3s;
    z-index: 1;
}
.dropdown_content li{
    display: block;
    color: #0057B7 !important;
    margin: 0px;
    margin-bottom: 5px;
    position:relative;
}
.dropdown_content li a{
    color: #0057B7 !important;
}
.my_modal{
    width: 45%;
    border-radius: 30px;
    background-color: white;
    padding: 50px;
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%,50%);
    z-index: 9;
    transition: all .3s;
    max-height: 90vh;
    padding-right: 0px;
    padding-bottom: 0px;
}
.scrol{
    overflow-y: scroll;
    max-height: 70vh;
    scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.scrol::-webkit-scrollbar{
    width: 0px;
}
.scrol::-webkit-scrollbar-thumb{
    width: 0px;
    background-color: #0057B7;
}
.overlay{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #0058b769;
    z-index: 8;
    display: none;
}
.modal_heading{
    margin-bottom: 15px;
    color: #0057B7;
}
.my_modal .custom_inputs{
    width: 100%;
    border: none;
    border-bottom: 1px solid #0057B7;
    outline: none;
    color: #0057B7;
    padding: 5px;
    font-size: 18px;
}

.my_modal .custom_inputs::placeholder{
    color: #0057B7;
}
.my_modal .custom_inputs::-moz-placeholder{
    color: #0057B7;
}
.my_modal .custom_inputs:-ms-input-placeholder{
    color: #0057B7;
}
.my_modal .custom_inputs::-webkit-input-placeholder{
    color: #0057B7;
}
.laptop{
    width: 150%;
}

.submit-btn{
    background-color: #0057B7;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 20px;
    font-size: 18px;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.17);
}
.forget{
    color: #0057B7;
}
.pop-btns{
    cursor: pointer;
}
.drone1{
    width: 100%;
    /* height: 70%; */
    transform: translateX(10%);
}
.drone2{
    width: 100%;
    transform: translate(-20%, 10%);
}
.form-check-input{

    border: 1px solid #0057B7 ;
}
.form-check-input:checked{
    background-color: #0057B7;
}

.form-check-label{
    color: #0057B7;
}
.my_modal p{
    color: #0057B7;
    font-size:12px;
    line-height:14px;
    text-align:justify;
}
.my_modal a{
    color: #0057B7;
}
.main-bg{
    background-color: #0057B7;
    min-height: 100vh;
    padding-top:50px;
}
.social_address p{
    color: white;
    font-size: 20px;
}
.social_address a{
    color: white;
    text-decoration:none;
}

.msd_title{
    font-size: 4rem;
}
.social_address img{
    width: 30px;
}
.tabs h1{
    font-size: 2rem;
    color: #fff;
    width: max-content;
    margin-bottom: 2rem;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: 2px 3px 7px #0000002b;
    background-color: #F5841F;
    border: 2px solid #F5841F;
    transition:all 0.3s ;
}
.tabs h1.active_tab{
    border: 2px solid #808AE2;
    background-color: rgba(128, 138, 226, 0.3);
    color: white;
}
.tabs h1:hover{
    border: 2px solid #808AE2;
    background-color: rgba(128, 138, 226, 0.3);
    color: white;
}
#program_content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#program_content img{
    width: 150px;
    margin: 5px;
    cursor: pointer;
}
#jadual_content{
    display: none;
}
.jadual-mobile .owl-nav{
    margin-top:0px !important;
}
#jadual_tabs_content small{
    font-size: 14px;
    font-weight: lighter;
}

.time{
    color: #808AE2;
    font-size: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: rgba(128, 138, 226, 0.3);
    border: 1px solid #808AE2;
}
.nav-pills .nav-link{
    background-color: #F5841F;
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.17);
}
.tab-content p{
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}
.tab-content h1,.tab-content h2,.tab-content h3, .tab-content h4,.tab-content h5,.tab-content h6, .tab-content li{
    color: white;
}
.match_links a{
    color: white;
    background-color: #F5841F;
    padding: 10px 25px;
    margin-right: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top:10px;
    border: 2px solid #F5841F;
    transition:all .3s;
    
}
.match_links a:hover{
    border: 2px solid #808AE2;
    background-color: rgba(128, 138, 226, 0.3);
    color: white; 
}
.theme-btn{
    color: white !important;
    background-color: #F5841F;
    padding: 10px 25px;
    margin-right: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    border: none;
}
.heading{
    font-size: 4rem;
    color: white;
    margin-bottom: 0px;
}
.heading2{
    font-size: 5rem;
    line-height:5rem;
    color: white;
    margin-bottom: 0px;
}
.side-text h1{
    color: white;
    font-size: 55px;
}
.oyen{
    color: #F5841F !important;
    font-size: 4.5rem;
    font-weight:600;
}
.car-details{
    color: white;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-wrap:wrap;
    
}
.car-details h4{
    font-size: 1.1rem;
    font-weight: bold;
    margin:0px;
    text-align:center;
}
.car-details h5{
    font-size: .9rem;
    font-weight: bold;
    margin:0px;
    text-align:center;
}
.car-details p{
    padding: 0px 5px;
    font-size: 1rem;
    font-weight: lighter;
    margin:0px;
}
.tabss .nav-link{
    width:100%;
    background-color: transparent;
    color: white;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.17);
    padding: 0px;
    overflow: hidden;
}
.tabss .nav-link img{
    width:100%;
}
.tabss .nav-item{
    width: 19%;
    margin-right:1%;
}
.tabss .nav-link.active{
    border: 3px solid #F5841F;
}
/* #promotion_tabs_content{
    height: 80vh;
    overflow-y: scroll;
} */
#promotion_tabs_content img{
    margin-bottom: 10px;
    padding: 10px;
}
/* #promotion_tabs_content::-webkit-scrollbar{
    width: 10px;
}
#promotion_tabs_content::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #212B80;
} */

#tabss_popup_btn{
    border: none;
    background: none;
    color: white;
    display: none;
    padding-left:10px;
}
.tabss{
    position: relative;
}
.sertai-btn{
    border: none;
    background-color: #F5841F;
    color: white !important;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.17);
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 30px;
    font-weight: bold;
    margin-right: 15px;
    text-decoration: none;
    border: 2px solid #F5841F;
    transition:all .3s;
}
.sertai-btn:hover{
         border: 2px solid #808AE2;
    background-color: rgba(128, 138, 226, 0.3);
    color: white; 
}
.ringgit-btn{
    border: none;
    background: linear-gradient(90deg, rgba(219, 171, 40, 0.551724) 0%, rgba(248, 219, 97, 0.913793) 9.9%, rgba(215, 164, 32, 0.5) 33.85%, #F1CF21 59.9%, rgba(250, 191, 40, 0.46) 86.98%, #FFD361 100%), #925100;
    color: white !important;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.17);
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 25px;
    width: max-content;
    text-shadow: -1px 2px 3px rgba(43, 31, 0, 0.6);
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin: auto;
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform:uppercase;
}
.cars-row{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    background: #212B80;
    border-radius: 10px;
    width: 100%;
    /*height: 200px;*/
}
.cars-row>div{
    height: 100%;
}
.cars-row img{
    width: 90%;
}
.cars-row:last-child{
    margin-top: 40px;
}
.cars-row p{
    margin-bottom: 0px;
}
.cars-row h2{
    font-size:1.8rem;
    color:white;
    width:max-content;
    margin:0px auto;
    
}
.cars-row h1{
    font-size:3rem;
    color:#F5841F;
    width:max-content;
    margin:0px auto;
    font-weight:bold;
}


#jom_kira_tabs #nav-tab .nav-link.active{
    border-bottom: 2px solid white;
    font-weight:bold;
}
#jom_kira_tabs #nav-tab .nav-link{
    color: white;
    background: transparent;
    border: none;
    font-size: 18px;
    padding:0px;
    margin:.5rem 1rem;
    margin-bottom:0px;
    padding-bottom:.5rem;
}
#jom_kira_tabs #owlCarousel .nav-link{
    width: 220px;
}
#jom_kira_tabs #msd-live-section .rm-imputs{
    width: 100%;
}
#jom_kira_tabs .nav-link.active{
    border-bottom: 1px solid white;
}
#may_bank_tabs  .nav-tabs{
    border-bottom: 1px solid black;
}
#may_bank_tabs .nav-link{
    color: black !important;
    background: transparent;
    border: none;
    font-size: 20px;
}
#may_bank_tabs .nav-link.active{
    border-bottom: 2px solid black !important;
    font-weight:bold;
}
#may_bank_tabs .nav-link:nth-child(1){
    padding-left:0px;
}
#may_bank_tabs .nav-link{
    color: white;
    background: transparent;
    border: none;
    font-size: 20px;
}
.jom_kira-btns{
    width: 80%;
    margin: auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    background-color: #808AE2;
    color: white !important;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.17);
    text-decoration: none;
}
.tonton-btn{
    width: max-content;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    background-color: #808AE2;
    color: white !important;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.17);
    text-decoration: none;
    display:inline-block;
     border: 2px solid #808AE2;
     transition:all .3s;
}
.tonton-btn:hover{
    border: 2px solid #808AE2;
    background-color: rgba(128, 138, 226, 0.3);
    color: white; 
}
.rm-form label{
    color: #808AE2;
    font-size: 20px;
}
.rm-form span{
    color: white;
    font-size: 20px;
    display: inline-block;
    margin-right: 15px;
    width: max-content;
    white-space: nowrap;
}
.rm-form .rm-imputs{
    border: 1px solid white;
    padding: 0px 5px;
    width: 40%;
    background: transparent;
    margin-left: 20px;
    outline: none;
    color: white;
}
.rm-form .rm-imputs-2{
    border: none;
    border-bottom: 1px solid white;
    padding: 0px 5px;
    width: 50%;
    background: transparent;
    margin-left: 20px;
    outline: none;
    color: white;
}
.rm-form input[type=submit]{
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.17);
    background: #808AE2;
    width: max-content;
    padding: 5px 15px;

}

.side-tabs .nav-pills .nav-link{
    background-color: #F5841F !important;
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.17);
    border: none;
}
.side-tabs .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: rgba(128, 138, 226, 0.3) !important;
    border: 1px solid #808AE2 !important;
    border-bottom: 1px solid #808AE2 !important;
}
.rm-form p{
    margin-bottom: 1rem;
}
.justify{
    text-align: justify;
}
.program_video-box {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    color: black ;
}
.program_video-box p{
    color: black;
    font-size: 16px;

}
#tetapkan_section{
    display: none;
}
#tetapkan_section .custom-input{
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    padding: 5px;
    outline: none;
    font-size: 20px;
}
#tetapkan_section .form-check-label{

    color: white;
}
#tetapkan_section .custom-input::placeholder{
    color: white;
}
#tetapkan_section .custom-input::-moz-placeholder{
    color: white;
}
#tetapkan_section .custom-input:-moz-placeholder{
    color: white;
}
#tetapkan_section .custom-input:-ms-input-placeholder{
    color: white;
}
#tetapkan_section .custom-input::-webkit-input-placeholder{
    color: white;
}
#back_btn{
    background: transparent;
    color: white;
    border: none;
}
.datepicker-inline{
    width: 100% !important;
    background-color: white;
    padding: 25px;
    color: black;
    border-radius: 30px !important;
    padding:20px !important;
}
.table-condensed{
    width: 100%;
}
.table-condensed tr{
    border-bottom: .5px solid #808AE2;
}
.table-condensed thead tr:nth-child(1), .table-condensed thead tr:nth-child(2){
    border: none;
}

.table-condensed tr td,.table-condensed tr th{
    padding: 5px 0px;

}
.time-piker{
    background-color: white !important;
    color: #D0DBFF !important;
    text-align: center;
    border-radius: 10px ;
    padding: 10px 0px;
    font-size: 12px;
    font-weight: bold;
    width: 70% !important;
}
.time-piker .owl-prev{
    position: absolute;
    top: 50% !important;
    left: 5px;
    transform: translateY(-55%);
}
.time-piker .owl-prev span{
    font-size: 30px;
    color: #212B80;
}

.time-piker .owl-next span{
    font-size: 30px;
    color: #212B80;

}
.time-piker .owl-next{
    position: absolute;
    top: 50% !important;
    right: 5px;
    transform: translateY(-55%);
}
.time-piker .owl-item.center{
    color: #212B80;
    transform: scale(1.2);
    transition: all .6s;
}

#tetapkan_section .submit-btn{
    border: none;
    width: max-content;
    background-color: #808AE2;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
}
.custom-links{
    display: flex;
    align-items: center;
    margin-top: 25px;
    /* color: white; */
    flex-wrap: wrap;

}
.custom-links a{
    display: block;
    padding: 5px 15px;
    color: #0057B7;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.17);
    text-decoration: none;
    margin-right: 15px;
}
#program-modal{
    position: fixed;
    top: 150%;
    max-height: 90vh;
    overflow-y: scroll;
    overflow-x: visible;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    transition: all .3s;
    z-index: 9;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
#program-modal::-webkit-scrollbar{
    width: 0px;
}
#program-modal::-webkit-scrollbar-thumb{
    width: 0px;
    background-color: red;
}
#program-modal .program-modal-content{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    color: #0057B7;
}
#program-modal .owl-carousel{
    background-color: #F5841F;
    padding: 10px 0px;
    border-radius: 10px;
}
#program-modal .owl-carousel .owl-next{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-55%);
}
#program-modal .owl-carousel span{
    font-size: 25px;
    color: white;
}
#program-modal .owl-carousel .owl-prev{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-55%);
}
#program-modal .owl-carousel .nav-link{
    margin: 0px;
    padding: 0px;
    text-align: center;
    box-shadow: none;
    font-size: 16px;
    transition: all .3s;
    width: max-content;
    margin: auto;
}
#program-modal .owl-carousel .nav-link.active{
    background: transparent;
    transform: scale(1.2);
    border: none;
}
#program-modal .tab-content p{
    color: #0057B7;
}
#close-btn{
    position: fixed;
    right: 25%;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 8;
    top: 150%;
    transition: all .3s;
}

#jadual-modal{
    position: fixed;
    top: 150%;
    max-height: 90vh;
    overflow-y: scroll;
    overflow-x: visible;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    transition: all .3s;
    z-index: 9;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
#jadual-modal::-webkit-scrollbar{
    width: 0px;
}
#jadual-modal::-webkit-scrollbar-thumb{
    width: 0px;
    background-color: red;
}
#jadual-modal .jadual-modal-content{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    color: #0057B7;
}
#jadual-modal .jadual-time{ 
    margin-top:15px;
    background-color: #F5841F;
    padding: 10px 0px;
    border-radius: 10px;
    text-align:center;
    color:white;
}
.home-links{
    /*height: calc(100vh - 70px);*/
}
.home-links img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.home-links a{
    position: absolute;
    transform: scale(.7);
}
.link-1{
    top: 50%;
    left: 2%;
}
.link-2{
    top: 36%;
    left: 20%;
}
.link-3{
    bottom: 23%;
    left: 18%;
}
.link-4{
    top: 47%;
    left: 33%;
}
.link-5{
    top: 8%;
    left: 46%;
}
.link-6{
    top: 30%;
    left: 38%;
}
.link-7{
    bottom: 30%;
    left: 57%;
}
.link-8{
    top: 0%;
    left: 60%;
}
.link-9{
    top: 33%;
    left: 58%;
}
.link-10{
    top: 6%;
    right: 14%;
}
.link-11{
    top: 35%;
    right: 15%;
}
.link-12{
    top: 2%;
    right: 5%;
}
.link-13{
    top: 53%;
    right: 8%;
}
.link-14{
    bottom: 18%;
    right: 13%;
}
.link-15{
    top: 35%;
    right: 5%;
}
.info_iconn{
    position: absolute;
    background-color: white;
    top: 50%;
    right: 0px;
    transform: translate(50%, -50%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.info_iconn span{
    font-size: 28px;
}

#nav-program{
    position: relative;
}
#terkini-btn{
    background-color: white;
    color: #0057B7 !important;
    border-radius: 10px;
    padding: 5px 15px;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0px;
    font-size: 1.5rem;
}

.jomkira-modal{
    position: fixed;
    top: 150%;
    max-height: 90vh;
    overflow-y: scroll;
    overflow-x: visible;
    z-index: 9;
    left: 50%;
    transform: translate(-5%, -50%);
    width: 40%;
    transition: all .3s;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.jomkira-modal::-webkit-scrollbar{
    width: 0px;
}
.jomkira-modal::-webkit-scrollbar-thumb{
    width: 0px;
    background-color: red;
}
.jomkira-modal .jomkira-modal-content{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    color: #0057B7;

}
.khidmat_images img{
    width: 140px;
}
.rakan-img{
    /* transform: translateY(-10%); */
}

.faq-heading{
    color: white;
    font-size: 4rem;
    line-height: 4rem;
}
#register_modal .form-check{
    margin-left:10px;
}
.info-btn{
    position:absolute;
    top: 25%;
    left: 2%;
    background: linear-gradient(226.91deg, #0057B7 26.91%, #0039A9 86.1%);
    height:30px;
    width:30px;
    border-radius:50%;
    color:white;
    font-size:24px;
    display:flex;
    justify-content:center;
    z-index:5;
    line-height:30px;
    cursor:pointer;
}
.about-us-box{
    position:fixed;
    top:35%;
    left:-100%;
    background:white;
    color:#0057B7;
    padding:10px 20px;
    border-radius:10px;
    width:450px;
    transition:all .5s;
}
.info-btn:hover ~ .about-us-box{
    left:5%;
}

.partner-logo{
    transform: scale(.8);
    transform-origin: top;
}
.baloon{
    transform: scale(.8);
    transform-origin: bottom;
}
.rakan-utama{
    background: url("../img/clouds1.svg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}
.rakan{
    background: url("../img/clouds2.svg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}
.rakan-acara{
    background: url("../img/clouds3.svg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}
.ejen{
    background: url("../img/clouds4.svg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}
.partner-footer{
    background: url("../img/partner-footer.png");
    background-position: top;
    background-size: cover;
    height: 400px;
    width: 100%;
    bottom: 0px;
    z-index: 1;
    margin-top: -200px;
}
.header-imgs{
    position:absolute;
    top:0px;
    left:0px;
    z-index:7;
}
.header-imgs img:nth-child(1){
    width:100px;
}
.header-imgs img:nth-child(2){
    width:140px;
}
.swal-button{
    background-color:#0057B7 !important;
}
.watch-again{
    text-decoration:none;
    transition:all .3s;
}
.watch-again:hover{
    color:#F5841F;
}
.lang-btns a{
    transition:all .3s;
}
.lang-btns a:hover{
    color:#F5841F;
}
.lang-btns a.active{
    color:#F5841F;
}
.baloons-container{
    display:flex;
    justify-content:center;
    margin:0px auto;
}
.baloons-container>div.text-center{
    width:180px;
}
#confirm_modal{
      padding: 40px;
  }
 #confirm_modal ol{
    list-style: upper-alpha !important;
 }
 #confirm_modal ol li{
     font-size: 1.2rem;
     margin-bottom: 10px;
 }
@media(max-width:1367px){

    .about-us-box{
        top:40%;
    }
    .header-imgs img:nth-child(1){
        width:70px;
    }
    .header-imgs img:nth-child(2){
        width:100px;
    }

}
@media(max-width:1280px){
    .home-links a{
        transform:scale(.5);
    }
}
@media(max-width:991px){
    .header-imgs{
        position:static;
    }
    .faq-heading{
        font-size: 3rem;
    }
    #tabss_popup_btn{
        display: inline-block;
    }
    .match_links a{
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        margin-right: 0px;
    }
    .side-text h1{
        font-size: 40px;
    }
    .oyen{
        font-size: 3.5rem;
    }
    .owl-carousel{
        position: relative;
    }
    .owl-dots{
        display: none;
    }
    .owl-nav span{
        color: white;
        font-size: 20px;
        line-height: 36px;
    }
    .owl-nav button{
        position: absolute;
    }
    .owl-nav .owl-prev{
        top: 0px;
        left: 10px;
    }
    .owl-nav .owl-next{
        top: 0px;
        right: 10px;
    }
    .nav-pills .nav-link{
        width: max-content;
        font-size: 14px;
        padding: 0px;
        margin: auto;
        margin-bottom: 0px;
        box-shadow: none;
        color: #ffffffbf;
    }
    .side-tabs .nav-pills .nav-link{
        width: max-content !important;
        font-size: 14px !important;
        padding: 0px !important;
        margin: auto !important;
        margin-bottom: 0px !important;
        box-shadow: none;
        color: #ffffffbf;
    }
    .side-tabs .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        color: white;
        background-color: transparent;
        border: none;
        transform: scale(1.2);
        transform-origin: bottom;
    }
    .side-tabs .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        color: white !important;
        background-color: transparent !important;
        border: none !important;
        transform: scale(1.2);
        transform-origin: bottom;
    }
    .tabs h1{
        font-size: 1.3rem;
        width: 45%;
        text-align: center;
    }
    .tabs{
        display: flex;
        justify-content: space-between;
    }
    .owl-carousel{
        background-color: #F5841F;
        border-radius: 5px;
        padding: 10px 15px;
    }
    .tab-content p{
        font-size: 16px;
    }
    .time{
        font-size: 16px;
    }
    #promotion_tabs{
        background-color: #212B80;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.17);
        display: none;
        position: absolute;
        top: 25px;
        width: 85%;
    }
    #promotion_tabs img{
        width: 40px;
        margin: 0px;
        border-radius: 5px;
    }
    #promotion_tabs .nav-link{
        border-radius: 5px;
        /* margin-left: 10px; */
        margin-bottom: 10px;
    }
    #promotion_tabs .nav-link.active{
        border-radius: 5px;
        margin-left: 10px;
        margin-bottom: 10px;
        background-color: #212B80;
        transform: scale(1);
    }
    .jom_kira-btns{
        width: 45%;
        padding: 8px;
    }

    #terkini-btn{
        position: static;
        width: 100%;
        display: inline-block;
        margin-top: 20px;
    }
    .main-img{
        /*background:url(../img/mobile-home-bg.png);*/
        background-size: cover;
        /*min-height: 180vh;*/
    }
    .home-links{
        /*height: 180vh;*/
    }
    .home-links a{
        transform: scale(.4);
    }
    .link-1{
        transform-origin: top left;
    }
    .link-2{
        transform-origin: top left;
    }
    .link-3{
        transform-origin: left;
    }
    .link-4{
        transform-origin: top left;
    }
    .link-5{
        transform-origin: top left;
    }
    .link-6{
        transform-origin: top left;
    }
    .link-7{
        transform-origin: top left;
    }
    .link-8{
        transform-origin: top left;
    }
    .link-9{
        transform-origin: top left;
    }
    .link-10{
        transform-origin: top right;
    }
    .link-11{
        transform-origin: top ;
    }
    .link-12{
        transform-origin: top right;
        right:6%;
    }
    .link-13{
        transform-origin: top right;
    }
    .link-14{
        transform-origin: right;
    }
    .link-15{
        transform-origin: top right;
    }
    #program-modal{
        width: 75%;
    }
    #jadual-modal{
        width: 75%;
    }
    .jadual-mobile{
        background-color: white !important;
        color: #D0DBFF !important;
        text-align: center;
        border-radius: 10px ;
        padding: 10px 16px;
        font-size: 12px;
        width: 70%;
        display: block !important;
    }
    .jadual-mobile .tab-content{
        display: block;
    }
    .jadual-mobile .owl-prev{
        position: absolute;
        top: 40% !important;
        left: -5px;
        transform: translateY(-55%);
    }
    .jadual-mobile .owl-prev span{
        font-size: 30px;
        color: #212B80;
    }

    .jadual-mobile .owl-next span{
        font-size: 30px;
        color: #212B80;

    }
    .jadual-mobile .owl-next{
        position: absolute;
        top: 40% !important;
        right: -5px;
        transform: translateY(-55%);
    }
    .jadual-mobile .owl-item.center{
        color: #212B80;
        transform: scale(1.2);
        transition: all .6s;
    }
    .jadual-mobile.nav-pills .nav-link{
        background-color: white;
        color: #0057B7;
        border: none;
        transition: all .3s;
    }
    .jadual-mobile.nav-pills .nav-link.active{
        transform: scale(1.2);
    }
    .jomkira-modal{
        width: 75%;
        transform: translate(-50%, -50%);
    }
    .desktop_nav{
        display: none;
    }
    .cars-row{
        height: auto;
    }
    .main-bg{
        min-height: 100vh;
    }
    .rm-form span{
        font-size: 18px;
    }
    .mobile_nav{
        display: block;
    }
    .info-btn{
        width:25px;
        height:25px;
        line-height:25px;
    }
    .cars-row h2{
        font-size:1.2rem;
        color:white;
        width:max-content;
        margin:0px auto;
    }
    .cars-row h1{
        font-size:2.5rem;
        color:#F5841F;
        width:max-content;
        margin:0px auto;
        font-weight:bold;
    }

}
@media(max-width:768px){
    #program-modal{
        width: 85%;
    }
    #program_content img{
        width: 150px;
    }
    
    #jadual-modal{
        width: 85%;
    }
    
    .my_modal{
        width: 70%;
        padding: 35px;
        padding-right: 0px;
    }
    .my_modal .custom_inputs{
        font-size: 16px;
    }
    .my_modal label{
        font-size: 14px;
    }
    .my_modal p{
        font-size: 10px;
    }
    .my_modal a{
        font-size: 14px;
    }
    .submit-btn{
        font-size: 16px;
    }
    .mobile_nav .pop-btns{
        color: #F5841F;
    }
    #hamburger_btn{
        display: inline;
    }
    .jom_kira-btns{
        width: 45%;
        padding: 8px;
        font-size: 16px;
    }
    #tetapkan_section .custom-input{
        font-size: 16px;
    }
    #program-modal .owl-carousel .nav-link{
        font-size: 14px;
    }
    .jomkira-modal{
        width: 85%;
    }
    .rm-form span{
        font-size: 16px;
    }
    .social_address p{
        color: white;
        font-size: 16px;
        text-align:center;
    }
    .social_address h4{
        border-bottom:1px solid white ;
        text-align: center;
        width:max-content;
        margin:auto;
        padding-bottom:5px;
    }
    .partner-logo{
    transform: scale(.8);
}
    .baloon{
        transform: scale(.6);
    }
    .partner-footer{
        height: 300px;
    }
    .link-4{
        top: 30%;
        left: 10%;
    }
    .link-5{
        top: 22%;
        right: 15%;
        left: inherit;
    }
    .link-6{
        top: 19%;
        right: 7%;
        left: inherit;
        transform-origin: right;
    }
    .link-7{
        top: 33%;
        bottom: inherit;
        left: 60%;
    }
    .link-9{
        top: 46%;
        left: 15%;
    }
    .link-14{
        bottom: inherit;
        right: 10%;
        top: 40%;
    }
    .link-15{
        top: inherit;
        right: 27%;
        bottom: 0%;
        transform-origin: top;
    }
    .link-10{
        bottom: 38%;
        left: 25%;
        right: inherit;
        top: inherit;
    }
    .link-2{
        bottom: 32%;
        left: 10%;
        top: inherit;
    }
    .link-12{
        top: inherit;
        bottom: 5%;
        right: inherit;
        left: 5%;
        transform-origin: top left;
    }
    .link-3{
        bottom: 40%;
        left: inherit;
        right: 5%;
        transform-origin: right;
    }
    .link-8{
        bottom: 22%;
        right: 20%;
        top: inherit;
        left: inherit;
        transform-origin: bottom;
    }
    .link-1{
        top: inherit;
        left: 32%;
        bottom: 10%;
    }
    .link-11{
        bottom: 28%;
        left: 23%;
        right: inherit;
        top: inherit;
    }
    .link-13{
        top: inherit;
        right: 8%;
        bottom: 15%;
    }
    .info-btn{
        left: inherit;
        top: 9%;
        right: 30%;
    }
    .header-imgs img:nth-child(1){
        width:50px;
    }
    .header-imgs img:nth-child(2){
        width:70px;
    }
    .cars-row h2{
        font-size:1rem;
        color:white;
        width:max-content;
        margin:0px auto;
    }
    .cars-row h1{
        font-size:2.2rem;
        color:#F5841F;
        width:max-content;
        margin:0px auto;
        font-weight:bold;
    }
}
@media(max-width:576px){

    #program-modal{
        width: 90%;
    }
    #program-modal .program-modal-content{
        padding: 15px;
    }
    
    #jadual-modal{
        width: 90%;
    }
    #jadual-modal .program-modal-content{
        padding: 15px;
    }

    .heading{
        font-size: 3rem;
    }
    .heading2{
        font-size: 2.5rem;
        line-height:2.5rem;
    }
    #program_content img{
        width: 100px;
    }
    .my_modal{
        width: 95%;
        padding: 25px;
        padding-right: 0px;
        border-radius: 20px;
    }
    .submit-btn{
        font-size: 14px;
    }
    .my_modal .custom_inputs{
        font-size: 14px;
    }
    .my_modal label{
        font-size: 12px;
    }
    .my_modal p{
        font-size: 8px;
    }
    .my_modal a{
        font-size: 12px;
    }
    .nav-pills .nav-link{
        font-size: 10px;
    }
    .side-tabs .nav-pills .nav-link{
        font-size: 10px !important;
    }
    .owl-nav span{
        line-height: 30px;
    }

    .time{
        font-size: 12px;
    }
    .tab-content p{
        font-size: 16px;
    }
    .side-text h1{
        font-size: 25px;
    }
    .oyen{
        font-size: 2rem;
    }
    .match_links a{
        font-size: 12px;
    }
    .car-details h4{
        font-size: .8rem;
        font-weight: bold;
    }
    .car-details p{
        font-size: 10px;
        font-weight: lighter;
    }
    .car-details h1{
        font-size: 1.2rem;
        font-weight: lighter;
        font-weight: bold;
    }
    .car-details h5{
        font-size: .8rem;
        font-weight: lighter;
    }
    .cars-row h4{
        font-size: .7rem;
    }
    .sertai-btn{
        font-size: 16px;
        margin:0px;
    }
    .tonton-btn{
        font-size:14px;
        font-weight:lighter;
    }
    .ringgit-btn{
        font-size: 14px;
        padding: 5px 15px;
    }
    #jom_kira_tabs .nav-link{
        font-size: 16px;
    }
    .jom_kira-btns{
        width: 48%;
        padding: 8px 5px;
        font-size: 12px;
    }
    .rm-form label{
        font-size: 16px;
    }
    #tetapkan_section .custom-input{
        font-size: 14px;
    }
    .time-piker{
        font-size: 8px;
    }
    .time-piker span{
        font-size: 15px !important;
    }
    .custom-links a{
        font-size: 14px;
    }
    #program-modal .owl-carousel .nav-link{
        font-size: 10px;
    }
    #jadual-modal .owl-carousel .nav-link{
        font-size: 10px;
    }
    #close-btn{
        /* top: 8% !important; */
        right: 5%;
    }
    .info_iconn{
        width: 25px;
        height: 25px;
    }
    .info_iconn span{
        font-size: 20px;
    }
    .cars-row{
        width: 98%;
        margin: auto;
        margin-bottom: 15px;
    }
    .jomkira-modal{
        width: 90%;
    }
    .rm-form span{
        font-size: 14px;
    }
    .rm-form .rm-imputs{
        margin-left: 8px;
        width: 90%;
    }
    .about-us-box{
        left:-150%;
        width:90%;
        font-size:14px;
    }
    .main-img{
        background-size: cover;
        background-position:left;
    }
    .home-links{
        /*height: 140vh;*/
    }
    .home-links a{
        transform: scale(.5);
    }
    .cars-row h2{
        font-size:.8rem;
        color:white;
        width:max-content;
        margin:0px auto;
    }
    .cars-row h1{
        font-size:1.5rem;
        color:#F5841F;
        width:max-content;
        margin:0px auto;
        font-weight:bold;
    }
    #jom_kira_tabs #nav-tab .nav-link{
        margin:.5rem .5rem;
        margin-bottom:0px;
    }
}

